// libs
@import "libs/reset";
@import "libs/bourbon/bourbon";
@import "libs/neat/neat";
@import "libs/prism";

// var
$color: #2196f3;
$color-darken: darken(#2196f3, 10%);
$ts: all .3s ease; 


// mixins
@mixin center-absolute($w, $h) {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -($w/2);
	margin-top: -($h/2);
}


// layout
@import "layout/layout";

// components
@import "components/arrow";
@import "components/labels";
@import "components/flags";
